.contact{
    margin: 0 auto;
    h1{
        text-align: center;
        color: var(--pastel-purple);
    }
    ul{
        list-style: none;
        background-color: #d9d7ff7d;
        padding: 2rem 3rem;
        border-radius: 20px;
        li:not(:has(a)), a{
            display: flex;
            flex-direction: row;
            align-items: center;
            line-height: 1.5rem;
            margin: .5rem;
            padding: 1rem;
            border-radius: 50px;
            transition: all 0.5s ease;
        }
        li a:hover, li :active{
            box-shadow: 
                5px 5px 15px 5px #FF8080, 
                -9px 5px 15px 5px #FFE488, 
                -7px -5px 15px 5px #8CFF85, 
                12px -5px 15px 5px #80C7FF, 
                12px 10px 15px 7px #E488FF, 
                -10px 10px 15px 7px #FF616B, 
                -10px -7px 27px 1px #8E5CFF, 
                5px 5px 15px 5px rgba(0,0,0,0);
        }
        li:not(:last-child){
                margin-bottom: 1rem;
            }
    }
    ul, a, :active, a:visited{
        font-size: 1.2rem;
        text-decoration: none;
        color: var(--deep-purple);
    }
    .contactIcon{
        height: 2rem;
        padding-right: 1rem;
    }
}


/******************* Media query *******************/
/* Smatrphone en landscape */
@media screen and (max-width: 767px) and (orientation: landscape) {
    .contact{
        width: 50%;
    }
}

/* Tablettes */
@media (min-width: 768px) and (max-width: 1023px) {
    .contact{
        width: 50%;
    }
}

/* Tablettes en landscape */
@media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
}

/* PC */
@media (min-width: 1024px) {
    .contact{
        padding-right: 200px;
    }
}