.portfolio{
    width: 95%;
    line-height: 1.5rem;
    margin: auto;
    padding: 2rem;
    text-align: right;
    border-radius: 20px;
    background-color: var(--light-rose);

    h1{
        color: var(--purple);
        margin-bottom: 3rem;
    }
    p{
        text-wrap: balance;
        text-align: justify;
        color: var(--deep-purple);
        line-height: 1.8rem;
    }
    a{
        padding-top: 1rem;
    }

    .logoImg{
        cursor: pointer;
    }
}


/******************* Media query *******************/
/* Smatrphone en landscape */
@media screen and (max-width: 767px) and (orientation: landscape) {
    .portfolio p{
        text-align: end;
    }
}

/* Tablettes */
@media (min-width: 768px) and (max-width: 1023px) {
}

/* Tablettes en landscape */
@media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
}

/* PC */
@media (min-width: 1024px) {
    .portfolio{
        width: 70%;
        p{
            text-align: end;
        }
    }
}