.portfolio{
    z-index: 50;
    width: 80%;
    line-height: 1.5rem;
    margin: auto;
    padding: 1rem 2rem;
    text-align: right;
    border-radius: 10px;
    background-color: var(--light-rose);

    h1{
        color: var(--purple);
    }
    p{
        text-wrap: balance;
        color: var(--deep-purple);
        line-height: 1.5rem;
    }
    a{
        padding-top: 1rem;
    }

    .logoImg{
        cursor: pointer;
    }

}


/******************* Media query *******************/
/* Smatrphone en landscape */
@media screen and (max-width: 767px) and (orientation: landscape) {
}

/* Tablettes */
@media (min-width: 768px) and (max-width: 1023px) {
}

/* Tablettes en landscape */
@media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
}

/* PC */
@media (min-width: 1024px) {
}