.container{
    width: 80%;
    margin: auto;
    background: #d9d7ff6c;
    border-radius: 10px;
}

.career{
    h1{
        text-align: center;
    }
}

.headersTimeline{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.headersTimeline > *{
    padding: 0.5rem;
    margin: 0;
    text-align: center;
}


.timeline article:nth-child(even) > .headersTimeline{
    flex-direction: row-reverse;
}

.timeline article:hover{
    box-shadow: 
    5px 5px 15px 5px #FF8080, 
    -9px 5px 15px 5px #FFE488, 
    -7px -5px 15px 5px #8CFF85, 
    12px -5px 15px 5px #80C7FF, 
    12px 10px 15px 7px #E488FF, 
    -10px 10px 15px 7px #FF616B, 
    -10px -7px 27px 1px #8E5CFF, 
    5px 5px 15px 5px rgba(0,0,0,0);
}


.timelineIcon{
    height: 2rem;
    width: 2rem;
}

.date{
    width: 8rem;
        .year{
            font-size: 1.5rem;
            font-weight: bold;
        }
        .duration{
            line-height: 2rem;
        }
    }

.jobs{
    color: var(--blue)
}

.title{
    font-size: 1.3rem;
}

.company{
    color: var(--purple);
    line-height: 2rem;
}

.educ{
    color: var(--rose);
    .degree, .school{
        font-size: smaller;
        color: var(--purple);
    }
}

.school, .company{
    font-style: italic;
}


///////////////////// Timeline


.timeline {
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
    z-index: 10;
}
.timeline:after {
    content: "";
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 50%;
    width: 8px;
    background: var(--light-purple);
    border-radius: 3px;
    z-index: 1;
}

.timeline article {
    position: relative;
    background: #eeeeee;
    width: calc( 50% - 40px );
    padding: 1rem;
    border-radius: 10px;
    transition: all 0.5s ease;
}
.timeline article + article {
    margin-top: 1rem;
}
.timeline article:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: calc( 100% + 26px );
    background: #d9d7ff6c;
    width: 24px;
    height: 24px;
    border: 6px var(--light-purple) solid;
    border-radius: 50%;
    z-index: 2;
}
.timeline article:after {
    content: "";
    position: absolute;
    top: 8px;
    left: 100%;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 20px solid #eeeeee;
    border-bottom: 10px solid transparent;
}

.timeline article:nth-child(even) {
    margin-left: calc( 50% + 48px );
}
.timeline article:nth-child(even):before {
    left: auto;
    right: calc( 100% + 26px );
}
.timeline article:nth-child(even):after {
    left: auto;
    right: 100%;
    border-left: none;
    border-right: 20px solid #eeeeee;
}

.timeline article li {
    padding: 0.5rem;
    line-height: 1.5rem;
    list-style-type: disclosure-closed;
}

.timeline article ul{
    max-height: 0;
    margin: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}
.timeline article.active > ul{
    max-height: 1000px;
}