footer{
    z-index: 50;
    text-align: center;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    font-size: .6rem;
    letter-spacing: 1px;
    line-height: 1rem;
    color: var(--pastel-purple);
    background-color: #541a8b6c;
    a{
        color: var(--pastel-purple);
    }
}