.sideNav {
	// display: none;
}

/* Position and sizing of burger button */
.bm-burger-button {
	position: fixed;
	width: 36px;
	height: 30px;
	left: 36px;
	top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
	background: var(--deep-purple);
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
	background: var(--rose);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
	height: 24px;
	width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
	background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
}

/* General sidebar styles */
.bm-menu {
	background: var(--deep-purple);
	padding: 2.5em 1.5em 0;
	font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
	fill: var(--deep-purple);
}

/* Wrapper for item list */
.bm-item-list {
	color: var(--pastel-purple);
	padding: 0.8em;
	ul{
		list-style: none;
		height: 90%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		li a{
			display: flex;
			align-items: center;
		}
		.navTitle{
			padding-left: 1rem;
		}
		.navIcon{
			height: 1.8rem;
		}
	}
}

/* Individual item */
.bm-item {
	display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
	background: rgba(0, 0, 0, 0.3);
	top: 0;
	left: 0;
}


/******************* Media query *******************/
/* Smatrphone en landscape */
@media screen and (max-width: 767px) and (orientation: landscape) {
}

/* Tablettes */
@media (min-width: 768px) and (max-width: 1023px) {
}

/* Tablettes en landscape */
@media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
}

/* PC */
@media (min-width: 1024px) {
		.sideNav {
		display: block;
		position: fixed;
		top: 50%;
		bottom: 50%;
		transform: translate(0, -50%);
		.round-container {
			background-color: var(--deep-purple);
			width: 130vh;
			height: 130vh;
			border-radius: 50%;
			position: absolute;
			top: 50%;
			bottom: 50%;
			transform: translate(-90%, -50%);
			ul {
				list-style: none;
				height: auto;
				width: auto;
				padding: 0;
				margin: 0;
				height: 60vh;
				position: absolute;
				top: 50%;
				bottom: 50%;
				left: 90%;
				transform: translate(0, -50%);
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				li {
					height: auto;
					width: auto;
					a {
						display: flex;
						align-items: center;
						height: 3rem;
						&:not(.activNav){
						width: 150px;
						}
						font-weight: bold;
						.navTitle:not(.activNav > .navTitle, a:hover > .navTitle) {
							transition: all 0.3s ease-in;
							// z-index: 5000;
							color: transparent;
						}
						&:hover{
							color: var(--deep-purple);
							background: linear-gradient(90deg, rgba(255,255,255,1) 20%, rgba(0,0,0,0) 100%);
							border-radius: 100px;
							height: 3rem;
							width: 190px;
							box-shadow: 16px 10px 15px -3px rgba(0,0,0,0.1);
							transition: width 0.3s ease-in;
						}
						&:hover > .navTitle{
							color: var(--deep-purple);
							transform: translateX(30px);
						}
						&:hover > .navIcon {
							color: var(--deep-purple);
						}
					}
					.navIcon{
						height: 1.8rem;
						padding-left: 1rem;
						&:not(.activNav > .navIcon, a:hover > .navIcon) {
							color: var(--pastel-purple);
						}
					}
					&:nth-child(2),
					&:nth-child(4) {
						margin-left: 20px;
					}
					&:nth-child(3) {
						margin-left: 30px;
					}
				}
			}
		}
		.activNav {
			color: var(--deep-purple);
			background: linear-gradient(90deg, rgba(255,255,255,1) 20%, rgba(0,0,0,0) 100%);
			border-radius: 100px;
			height: 3rem;
			width: 170px;
			box-shadow: 16px 10px 15px -3px rgba(0,0,0,0.1);
			
		}
		.activNav > .navTitle {
			color: var(--deep-purple);
			transform: translateX(30px);
		}
		.activNav > .navIcon {
			color: var(--deep-purple);
		}
	}
}