.homeCountainer {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homeTitle{
        text-align: end;
    h1{
        font-size: 3rem;
        color: var(--rose);
        text-shadow: 0 0 5px var(--deep-purple);
    }
    h2{
        font-size: 1.5rem;
        color: var(--aqua-blue);
        text-shadow: 0 0 5px var(--deep-purple);
    }
}

.home{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    color: var(--pastel-purple);
    .homeImg{
        border-radius: 30px;
        box-shadow: 2px 5px 15px 5px #00000045;
    }
    div{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
        margin-top: 2rem;
        padding: 1rem 2rem;
        line-height: 2rem;
        border-radius: 25px;
        background-color: var(--purple);
        box-shadow: 2px 5px 15px 5px #00000045;
        text-wrap: pretty;
        h3{
            text-align: center;
        }
        p{
            text-align: justify;
            text-wrap: pretty;
        }
        &::after{
            content: '';
            position: absolute;
            border-left: 25px solid transparent;
            border-bottom: 30px solid var(--purple);
            top: -30px;
            left: calc(20% + 50px);
        }
        .download{
            text-align: center;
            text-wrap: nowrap;
            padding: 1rem;
            color: var(--purple);
            background-color: var(--pastel-purple);
        }

    }
}


/******************* Media query *******************/
/* Smatrphone en landscape */
@media screen and (max-width: 767px) and (orientation: landscape) {
}

/* Tablettes */
@media (min-width: 768px) and (max-width: 1023px) {
    .homeTitle{
        margin: 0 auto;
        text-align: center;
        h1{
            font-size: 4rem;
        }
        h2{
            font-size: 2rem;
        }
    }

    .home{
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        margin: 0 auto;
        h3{
            font-size: 1.5rem;
            color: var(--pastel-purple);
        }
        div{
            width: 70%;
            margin-top: 0rem;
            &::after{
                border-bottom: 20px solid transparent;
                border-left: 30px solid var(--purple);
                top: 20%; 
                left: calc(95% + 30px);
            }            
            .download{
                margin: 1rem;
            }
        }
    }
}

/* PC */
@media (min-width: 1024px) {
    .homeTitle{
        h1{
            margin: 0;
            margin-right: 2rem;
            font-size: 5rem;
        }
        h2{
            margin: 0;
            margin-right: 2rem;
            font-size: 2rem;
        }
    }

    .home{
        flex-direction: row;
        justify-content: space-around;
        margin-left: auto;
        margin-right: 0;
        div{
            position: relative;
            width: 70%;
            border-radius: 50px;
            margin-top: 0;
            p:not(:last-of-type){
                align-self: flex-start;
            }
            &::after{
                border-bottom: 30px solid transparent;
                border-left: 50px solid var(--purple);
                top: 60%; 
                left: calc(95% + 50px);
            }
        }
    }
}