.homeTitle{
    position: relative;
    margin: 0 auto;
    text-align: center;
    h1{
        position: absolute;
        margin: 0;
        top: -5rem;
        right: 0;
        width: 80rem;
        font-size: 5rem;
        text-align: end;
        color: var(--rose);
        z-index: 5;
        text-shadow: 0 0 5px var(--deep-purple);
    }
    h2{
        margin: 0;
        top: 0;
        font-size: 2rem;
        position: relative;
        color: var(--aqua-blue);
        z-index: 10;
        text-shadow: 0 0 5px var(--deep-purple);
    }
}

.home{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    color: var(--pastel-purple);
    z-index: 10;
    h3{
        font-size: 1.5rem;
        color: var(--pastel-purple);
    }
    div{
        width: 70%;
        padding: 1rem 2rem;
        line-height: 2rem;
        border-radius: 50px;
        background-color: var(--purple);
        box-shadow: 2px 5px 15px 5px #00000045;
        text-align: center;
        &::after{
            content: '';
            position: absolute;
            border-top: 0 solid transparent;
            border-bottom: 30px solid transparent;
            border-left: 50px solid var(--purple);
            top: 70%; 
            left: calc(70% + 50px);
        }
        h3{
            text-align: start;
        }
        p{
            text-align: justify;
        }
        
        .download{
            margin: 2rem !important;
            text-align: center;
            padding: 1rem;
            color: var(--purple) !important;
            background-color: var(--pastel-purple);
        }
    }
    .homeImg{
        border-radius: 30px;
        box-shadow: 2px 5px 15px 5px #00000045;
    }
}