@import './components/nav';
@import './components/CirclesBackground';
@import './pages/about/about';
@import './pages/career/career';

:root{
    --deep-purple: #551A8B;
    --purple: #8C52FF;
    --light-purple: #8B73FF;
    --pastel-purple: #D9D7FF;
    --rose: #f92a82;
    --blue: #4A26FF;
}

h1, h2{
    color: var(--deep-purple);
    &::first-letter{
        text-transform: capitalize;
    }
}

*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    &:not(a, .navIcon, .navTitle){
        cursor:default;
    }
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 95vh;
    margin-left: 200px;
    z-index: 2;
}

.circles{
    z-index: 1;
}

nav{
    z-index: 3;
}