@import './components/nav';
@import './components/CirclesBackground';
@import '_home.scss';
@import './pages/about/about';
@import './pages/career/career';

// Font Ubuntu
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
// Font Righteous
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');




// @font-face {
//     font-family: 'bellotabold';
//     src: url('./public/bellota_bold_macroman/Bellota-Bold-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

:root{
    --deep-purple: #551A8B;
    --purple: #8C52FF;
    --light-purple: #8B73FF;
    --pastel-purple: #D9D7FF;
    --rose: #FB579E;
    --light-rose: #FDC2DC;
    --pastel-rose: #e7d7de;
    --blue: #772AFA;
}

h1, h2, h3{
    color: var(--deep-purple);
    font-family: 'Righteous', sans-serif;
    font-weight: 400;
    &::first-letter{
        text-transform: capitalize;
    }
}

*{
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    &:not(a, .navIcon, .navTitle){
        cursor:default;
    }
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 95vh;
    margin-left: 200px;
    z-index: 2;
}

.circles{
    z-index: 1;
}

nav{
    z-index: 3;
}